@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="footer-container col3">
<img width="40px" height="40px" src="/images/logo.png" /> Badge - 2023
Faucibus interdum posuere lorem ipsum dolor sit amet. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Tincidunt nunc pulvinar sapien et. At tellus at urna condimentum. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed. Enim ut tellus elementum sagittis vitae et leo duis ut. Diam quam nulla porttitor massa id. Sed euismod nisi porta lorem. Mattis aliquam faucibus purus in massa tempor nec. Porttitor leo a diam sollicitudin tempor id. Ipsum dolor sit amet consectetur. Nec tincidunt praesent semper feugiat nibh. Dictumst quisque sagittis purus sit amet volutpat. In vitae turpis massa sed elementum tempus egestas.

Badge - 2023


</div>