@media only screen and (max-width: 700px) {
    html, body {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    html, body {
        margin: 0;
        height: 100%;
        padding: 0;
    }

    body {
        min-height: 100%!important;
    }
    #footer-b{
        height: auto!important
    }

}
.navbar-right li a {
    font-weight: 200 !important;
}
.t-navbar-container a{
    font-weight: 300 !important;
}