@using Microsoft.AspNetCore.Identity
@using Badge.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="l-nav-container">
@if (SignInManager.IsSignedIn(User))
{
    <li class="l-nav-user">
            @if (@UserManager.GetUserAsync(User).Result.AppUImageData != null)
            {
                <img src="data:image/png;base64,@UserManager.GetUserAsync(User).Result.AppUImageData" width="60px" height="60px" style="border-radius:50%; margin-bottom:15px;" />

                <br />
            }
            else
            {
                <img src="/images/NoImg.png" width="60px" height="60px" style="border-radius:50%; margin-bottom:15px;"/>
                <br />

            }
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserAsync(User).Result.FName @UserManager.GetUserAsync(User).Result.LName</a> 
        </li>
    <li class="l-nav-user">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="">Log ud</button>
        </form>
    </li>
}
else
{
    <li class="l-nav-item" style="margin-bottom:30px; font-size:20px; text-align:center; font-weight:600;">
        <a asp-area="Identity" asp-page="/Account/Login">Log ind</a>
    </li>
}
</ul>
