@page
@model Badge.Pages.Admin.Statistikker.IndexModel
@{

}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<body>

    <div id="myPlot" style="width:100%;max-width:700px"></div>

    <script>
        const xArray = ["Købte lodsedler", "Solgte lodsedler"];
        const yArray = [@Model.Tickets,@Model.Sales];

        const data = [{
            x: xArray,
            y: yArray,
            type: "bar",
            opacity: 0.5
        }];

        const layout = { title: "Salgsproces" };

        Plotly.newPlot("myPlot", data, layout);
    </script>

</body>


