@page
@model Badge.Pages.App.IndexModel
@{
    Layout = "_AppLayout";
}
<h2>Hej</h2>
<h1>@UserManager.GetUserAsync(User).Result.FName!</h1>
<br />
<p>Du har solgt @Model.GetSales() lodsedler ialt. Godt gået!</p>

<h2 style="padding-top: 15px;">
    Her er dine mærker: 
</h2>

<div class="achievement-container">
    @foreach (var item in Model.Achievements)
    {
        string unlocked = "0";
        <div class="achievement">
            
            @switch (item.AchievementType.Name)
            {
                case "Ticket":
                    if (!Model.CheckTicketAchievement(item.Amount))
                    {
                        unlocked = "1";
                    }
                    break;
                case "Channel":
                    if (!Model.CheckChannelAchievement(item.Amount, item.Name))
                    {
                        unlocked = "1";
                    }
                    break;
                    case "GroupTicket":
                    if (!Model.CheckGroupAchievement(item.Amount))
                    {
                        unlocked = "1";
                    }
                    break;
                default:
                    break;
            }
            <div>
                <img src="/images/@item.AchievementIcon" style="filter:grayscale(@unlocked);" />
            </div>
            <div class="achievement-tooltip">
                <b>@item.Name</b><br />@item.Description
            </div>
        </div>
    }
</div>
