@page
@model Badge.Pages.App.IndexModel
@{
    Layout = "_AppLayout";
}
<h2>Hej</h2>
<h1>@UserManager.GetUserAsync(User).Result.FName!</h1>
<br />
<p>Du har solgt @Model.GetSales() ialt. Godt gået!</p>

<h2 style="padding-top: 15px;">
    Her er dine mærker: 
</h2>

<div class="achievement-container">
    @foreach (var item in Model.Achievements)
    {
        <div class="achievement">
            <div>
                @item.Name
            </div>
            @switch (item.AchievementType.Name)
            {
                case "Ticket":
                    if (Model.CheckTicketAchievement(item.Amount))
                    {
                        <p>OPNÅET</p>
                    }
                    break;
                case "Channel":
                    if (Model.CheckChannelAchievement(item.Amount, item.Name))
                    {
                        <p>OPNÅET</p>
                    }
                    break;
                    case "Group":
                    if (Model.CheckGroupAchievement(item.Amount))
                    {
                        <p>OPNÅET</p>
                    }
                    break;
                default:
                    break;
            }
        </div>
    }
</div>
