@page
@using Badge.Interfaces
@model Badge.Pages.App.IndexModel
@inject ISalesService salesService;
@inject UserManager<ApplicationUser> userManager;
@{
    Layout = "_AppLayout";
}
<h2>Hej</h2>
<h1>@UserManager.GetUserAsync(User).Result.FName!</h1>
<br />
<p>Du har solgt @salesService.GetMembersSalesAsync(UserManager.GetUserId(User)).Result.Count() lodsedler ialt. Godt gået!</p>


<div>
    <h2 style="padding-top: 15px;">
        Her er dine mærker:
    </h2>
</div>
<div class="achievement-container">
    @foreach (var item in Model.Achievements)
    {
        string unlocked = "0";
        <div class="achievement">
            
            @switch (item.AchievementType.Name)
            {
                case "Ticket":
                    if (!Model.CheckTicketAchievement(item.Amount))
                    {
                        unlocked = "1";
                    }
                    break;
                case "Channel":
                    if (!Model.CheckChannelAchievement(item.Name))
                    {
                        unlocked = "1";
                    }
                    break;
                    case "GroupTicket":
                    if (!Model.CheckGroupAchievement(item.Amount))
                    {
                        unlocked = "1";
                    }
                    break;
                default:
                    break;
            }
            <div>
                <img src="/images/@item.AchievementIcon" style="filter:grayscale(@unlocked);" />
            </div>
            <div class="achievement-tooltip">
                <b>@item.Name</b><br />@item.Description
            </div>
        </div>
    }
</div>
<div>
    <h1>Læs mere om sidste års supersælger her:</h1>
    <p>
        "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
    </p>
</div>
