@page
@model Badge.Areas.Identity.Pages.Account.Manage.ChangeProfileImageModel
@{
    ViewData["Title"] = "Manage picture";
    ViewData["ActivePage"] = ManageNavPages.ChangeProfileImage;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    @if(Model.Input.ImageString != null)
    {
       <div class="col-md-6" style="margin-right: 200px;">
           <h4>Nuværende billede</h4>
            <form method="post" enctype="multipart/form-data" asp-page-handler="DeleteImage">
                <div class="form-floating mb-3" >
                    <img src="data:image/png;base64,@Model.Input.ImageString" width="100px" height="100px" style="margin-bottom:15px;" />
                </div>
                <button id="delete-image-button" type="submit" class="w-100 btn btn-lg btn-primary">Delete image</button>
            </form>
       </div>
    }
    <div class="col-md-6">
        <form id="image-form" method="post" enctype="multipart/form-data" asp-page-handler="Update">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Image" class="form-control" type="file" />
                <label asp-for="Input.Image" class="form-label"></label>
                <span asp-validation-for="Input.Image" class="text-danger"></span>
            </div>
            <button id="change-image-button" type="submit" asp-page-handler="Update" class="w-100 btn btn-lg btn-primary">Change image</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}