@page
@model Badge.Pages.CelinasShitCorner.ListModel
@{
}

<div class="dt-container">
    <div class="dt-item">
        <div class="dt-item-col">
            <img class="round" style="height:75px; width:auto;"src="~/images/NoImg.png"/>
        </div>
        <div class="dt-item-col">
            <h3>Celina Henningsen</h3>
            <h5>civah@hotmail.com</h5>
        </div>
    </div>
</div>