@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Adgang nægtet";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Du har ikke adgang til denne side.</p>
</header>
