@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_IndexLayout";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tjek venligst din mail, for at nulstille din adgangskode. 
</p>
