@page
@model Badge.Pages.Administration.User.CreateModel
@{
    ViewData["Title"] = "Opret Bruger";
}

<h1>Opret</h1>
<h4>Bruger</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">

        </form>
    </div>
</div>
