@page
@model Badge.Pages.Administration.User.LeaderEditModel

@{
    ViewData["Title"] = "LeaderEdit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Leader Edit</h1>

<h4>Leader</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Input.FName" class="control-label"></label>
                <input asp-for="Input.FName" class="form-control" />
                <span asp-validation-for="Input.FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LName" class="control-label"></label>
                <input asp-for="Input.LName" class="form-control" />
                <span asp-validation-for="Input.LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
