html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #E6E5E5;
}

h1, h2, h3 {
    font-family: 'Signika', sans-serif;
}

.rounded-container {
    background-color: white;
    border-radius: 15px;
}

body .button {
    background-color: #5F8CB4;
}