:root {
    --danube-50: #f4f8fa;
    --danube-100: #e5eef4;
    --danube-200: #d1e3ec; /*paleblue*/
    --danube-300: #b1d1df;
    --danube-400: #8cb8ce;
    --danube-500: #70a1c1;
    --danube-600: #5f8cb4; /*maincolor*/
    --danube-700: #5279a3;
    --danube-800: #476486;
    --danube-900: #3d536b;
    --danube-950: #283443;

    --maincolor: #5F8CB4;
    --lighterblue: #94B2CD;
    --paleblue: #d1e3ec;
    --mintygreen: #05c46b;
    --sunsetorange: #ff5e57;
    --applevalley: #ea8685;
    --lynxwhite: #f5f6fa;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 16px;
    }

    .login-container {
        width: 300px !important;
        margin-top: 0!important;
    }
    .login-button {
        margin-bottom: 10px !important;
        margin-left: auto!important;
        margin-right: auto!important;
    }

}

html, body {
    margin:0;
    padding:0; 
    
}
html {
    font-size: 14px;
    height: 100%;
}

body {
    background-color: #E6E5E5;
}

head {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight:500;
    color:black;
}

p{
    margin:0;
    padding:0;
    display:inline;
}

h1, h2, h3 {
    font-family: 'Signika', sans-serif;
    margin: 0px;
    padding: 0px;
}

button{
    border: none!important;
    padding-top:.5em;
    padding-bottom:.5em;
    border-radius:5px;

}

.btn-def {
    background-color: var(--danube-500);
    color: white;
    font-weight: 500;
}

input[type=submit] {
    border:none;
}

.main {
    padding:0;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.main-container {
    width: auto;
    margin-top: 50px;
    margin-left:15%;
    margin-right:0;
    margin-bottom:50px;
}

.rounded-container {
    background-color: white;
    border-radius: 15px;
}

.box-3rd {
    width: 33%;
}

.box-half {
    width: 50%;
}

.box-full {
    width: 100%;
}

.fit {
    height:100%;
    width:auto;
}

.round {
    border-radius:50%;
}
.ticket-box {
    background-color: white;
    border-radius:25px;
}

.l-navbar {
    height: 100%;
    background-color: var(--maincolor);
    width:15%;
    min-width: 200px;
    color: white;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    overflow-x:hidden;
    padding-top:40px;
}

.l-navbar-collapsed {
    height: 100%;
    background-color: var(--maincolor);
    width: 75px;
    color: white;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 40px;
}

    .l-navbar-collapsed a {
        display:none;
    }
    .l-navbar-collapsed .l-nav-item{
        
        font-display:none;
    }
    .l-navbar-collapsed #closebtn{
        display: block;
    }

.flex {
    display: flex;
}

.l-navbar a{
    color:white;
    text-decoration: none;
    margin-bottom:7px;
    font-weight:300;
    font-size: 20px;
    margin-right:0;
}

.l-nav-container {
    width: 100%;
    padding: 0;
    display: inline;
}

.l-nav-item {
    list-style: none;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 7px;
}

.l-nav-item a{
    display:block;
    margin:0;
    padding:7px 20px;
}

.l-nav-container .l-nav-item:hover {
        background: #ffffff20;
    }


.nav-item-active {
    background-color: var(--lighterblue);
    font-weight:400;
}
.nav-item-active a{
    font-weight: 400;
}
.l-nav-container .nav-item-active:hover {
    background-color: var(--lighterblue)!important;
}

.navbar-inner {
    width:100%;
    height: 80%;
    display:inline-block;
}

.navbar-logo {
    margin:30px 25px;
    text-decoration: none;
    margin-bottom:40px;
    
}
    .navbar-logo a {
        color: white;
        font-size: 32px;
        font-weight: 500;
        margin:0px;
        padding:0px;
    }
    .navbar-logo img {
        margin-top:-5px;
        margin-right:15px;
    }

.navbar-login {
    
    position: absolute;
    bottom:0;
    width: 100%;
}

.navbar-navs {
    list-style: none;
    padding: 0;
    text-align:center;
}

.l-nav-user{

    width:80%;
    margin: auto;
    text-align:center;
    list-style:none;
    margin-bottom:15px;
}

.l-nav-user .No-Img {
    margin:auto;
    background-color:var(--lighterblue);
    margin-bottom:10px;
}

.l-nav-user a{
    font-size:17px;
    font-weight:400;;
}

.l-nav-user button {
    border: none;
    background-color: #ffffff00;
    color:#ffffff80;
    font-size:17px;
    margin-bottom:10px;
}


.dt-container {
    width:100%;
    height:auto;
    padding:1%;
}

.dt-item {
    height: 125px;
    display: inline-flex;
    width: 100%;
    background-color: white;
    border-radius:10px;
    padding: 20px;
}

.dt-item-col {
    width:fit-content;
    max-height:inherit;
    height:auto;
    display:inline-block, flex;
    vertical-align:middle;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:20px;
   
}

.tab {
    overflow: hidden;
    display:flex;
    margin-bottom: 20px;

}

.tab-button {
    background-color: var(--lighterblue);
    padding: 12px 25px;
    height: 50px;
    margin-right: 10px;
    border-radius: 25px;
    
}

    .tab .active {
        background-color: var(--maincolor);
    }

.tab-button a {
    color: white;
    font-family: 'Signika'
}

.No-Img{

    height:50px;
    width:50px;
    border-radius:50%;
    align-items:center;
    display:flex;
}
.No-Img p {
    margin:auto;
    text-align:center;
    letter-spacing:2px;
    font-family: 'Signika', sans-serif;
    font-weight:600;
    font-size:18px;
    color:white;
}

.note-block {
    padding: 3px 20px;
    border-radius: 15px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    margin:auto;
}

.note-block p {
    font-size: 12px;
}

.note-green {
    background-color: var(--mintygreen);
}

.note-red {
    background-color: var(--applevalley);
}

.srt-container {
    display:flex;
    padding-top:10px;
    padding-bottom:10px;
    margin:0;
    width:fit-content;
}

.srthead-container {
    height:30px;
}

.srtarw-container {
    width: 15px;
    height:30px;
    margin-left:10px;
}

.srtarw {
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
}

    .actup {
        background-image: url('/images/arw-actup.svg');
    }
    .inactup {
        background-image: url('/images/arw-inactup.svg');
    }
    .actdwn {
        background-image: url('/images/arw-actdown.svg');
    }
    .inactdwn {
        background-image: url('/images/arw-inactdown.svg');
    }

table {
    width:100%;
}

td {
    padding-bottom:10px;
}


.dropdwn {
    position: relative;
    display: inline-block;
    margin:0;
    padding-right:100px;
}

.dropdwn-content {
    display:none;
    position: absolute;
    background-color: var(--lynxwhite);
    width: 150px;
    z-index: 1;
}

    .dropdwn-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.circle-sm{
    width:6px;
    height:6px;
    background-color:darkgray;
    border-radius: 50%;
    margin-right:auto;
    margin-left:auto;
    display:inline-block;
}

.dropdwn:hover .dropdwn-content {
    display:block;
}

.dropdwn:hover .dropdwn-btn {
    background-color:var(--lynxwhite);
}

.dropdwn-content a:hover {
    background-color: var(--paleblue);
}

.dropdwn-btn {
    width:50px;
    height:50px;
    display:flex;
    align-items:center;
    padding:10px;
}

.delete:hover {
    background-color: var(--applevalley)!important;
}

.col3 {
    column-count: 3;
}

.login-container{
    width: fit-content;
    height:fit-content;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10%;
}

.login-button {
    width: 300px;
    height: 200px;
    display: inline-block;
    text-align: center;
    background-color: white;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 50px;
}
