@media only screen and (max-width: 1700px){
    .index-infobox {
        width: 225px !important;
        height:auto!important;
    }
    .index-grid {
        grid-template-columns: 225px 225px 225px 225px !important;
    }

    .index-infobox-inner {
        max-width: 52% !important;
        font-size: 12px !important;
        max-height: 100%;
        overflow: hidden;
        word-wrap: break-word!important;
        display:block;
    }
        .index-infobox-inner h4 {
            font-size: 15px !important; 
            word-break: break-word!important;
        }
    .index-infobox-inner p, h4 {

        padding-block-end: 5px !important;
        padding-block-start: 5px !important;
        padding: 0px !important;
        margin: 0px !important;
        line-height: 1;
        text-align:left;
    }
        .index-infobox-inner p {
            height:70px!important;
            overflow: hidden;
        }
        .index-infobox-inner img {
            height: 75%!important;
            margin-top: 10px;
        }
}

/*Media Medium screen*/
@media only screen and (max-width: 1280px) {
    .l-navbar {
        padding-top: 20px !important;
    }

        .l-navbar a {
            font-size: 16px !important;
        }

    .l-nav-item {
        width: 80%;
        margin-bottom: 5px !important;
        border-radius: 7px;
    }

        .l-nav-item a {
            display: block;
            margin: 0;
            padding: 7px 10px !important;
        }

    .navbar-logo {
        margin-bottom: 30px !important;
    }

    .l-nav-user {
        max-height: 150px !important;
        overflow: hidden !important;
    }

        .l-nav-user .No-Img {
            margin: auto 0 auto 0 auto !important;
            margin-bottom: 7px !important;
        }

        .l-nav-user a {
            font-size: 18px !important;
            padding-top: 0 !important;
        }

        .l-nav-user button {
            margin: 0 !important;
            padding: 2px !important;
            font-size: 14px !important;
        }

    .login-container {
        margin-top: 7% !important;
    }
    .index-infobox {
        width: 200px !important;
        height: auto !important;
        margin:5px!important;
        padding:15px!important;
    }
    .index-infobox-inner img {
        height:60%!important;
        width:auto;
        margin-top:15px!important;
        margin-right:0px!important;
    }
    .index-infobox-inner p {
        font-size:11px!important;
        height: 65px!important;
        word-break:normal!important;
        word-wrap:normal!important;
        text-align:left!important;
    }

    .index-grid {
        grid-template-columns: 200px 200px 200px 200px !important;
    }

    .divider-line-gradient{
        margin-top: -15px!important;
    }
}
/*Media Medium screen end*/

/*-----*/

/*Media Small screen*/
@media only screen and (max-width: 980px) {

    .index-infobox {
        width: 300px !important;
    }

    .index-infobox-inner img {
        height: 100%!important;
        width: auto!important;
        padding: 7px!important;
    }

    .index-infobox-inner h4 {
        font-size: 18px!important;
    }

    .index-infobox-inner p {
        font-size: 14px;
        word-break:initial!important;
        word-wrap: normal;
        padding-top: 10px!important;
        margin-right:15px!important;
    }

    .index-grid {
        grid-template-columns: 300px 300px !important;
        row-gap: 20px;
    }

    .login-container {
        margin-top: 10% !important;
    }

    .login-container-main {
        max-width: 400px;
        width: 50% !important;
    }

    .login-container h1 {
        font-size: 48px !important;
    }

    .login-container h3 {
        font-size: 25px !important;
    }

    .logo-container {
        margin-bottom: 0 !important;
        width: 80px !important;
        height: 80px !important;
    }

    .l-navbar {
        padding-top: 10px !important;
    }

        .l-navbar a {
            font-size: 16px !important;
        }

    .l-nav-item {
        margin-bottom: 5px !important;
    }

        .l-nav-item a {
            padding: 5px 10px !important;
        }

    .navbar-logo {
        margin-bottom: 20px !important;
    }

        .navbar-logo img {
            height: 30px !important;
            width: 30px !important;
        }

    .l-nav-user {
        max-height: 100px !important;
        overflow: hidden !important;
    }

        .l-nav-user .No-Img {
            height: 30px;
            width: 30px;
            margin: auto 0 auto 0 auto !important;
            margin-bottom: 2px !important;
        }

        .l-nav-user a {
            font-size: 14px !important;
            padding-top: 0 !important;
        }

        .l-nav-user button {
            margin: 0 !important;
            padding: 2px !important;
            font-size: 14px !important;
        }

    .main-container {
        padding-left: 150px !important;
    }

    main {
        margin-top: 10px !important;
        padding-top: 0 !important;
    }
}
/*Media Small screen end*/

/*-----*/

/*Media Larger phones*/



@media only screen and (max-width: 700px) {
    html {
        font-size: 16px;
    }

    .index-grid {
        grid-template-columns: auto !important;
        row-gap: 20px;
    }
    .login-container {
        width: 300px !important;
        margin-top: 0 !important;
    }

    .login-container-main {
        width: 80% !important;
        margin-top: 25px;
        !important;
    }

    .login-button {
        margin-bottom: 10px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .achievement-container {
        margin-top: 25px !important;
        grid-template-columns: auto auto auto !important;
        padding: 10px!important;
        margin-left:0px!important;
        float:unset!important;
    }

    .achievement {
        width: 100%!important;
        height: 100% !important;
    }

    .login-container h1 {
        font-size: 45px !important;
    }

    .login-container h3 {
        font-size: 24px !important;
    }

    .t-navbar {
        position: sticky !important;
    }

    .t-navbar-container {
        width: 100% !important;
    }

        .t-navbar-container ul {
            display: none !important;
        }

    .login-container {
        margin-top: 0px !important;
    }

    .footer-container {
        column-count: 1 !important;
    }
}
/*Media Larger phones end*/

/*-----*/

/*Media SMALL phones */
@media only screen and (max-width: 375px) {
}
/*Media SMALL phones end*/

/*-----*/

/*Regular css*/
:root {
    --danube-50: #f4f8fa;
    --danube-100: #e5eef4;
    --danube-200: #d1e3ec; /*paleblue*/
    --danube-300: #b1d1df;
    --danube-400: #8cb8ce;
    --danube-500: #70a1c1;
    --danube-600: #5f8cb4; /*maincolor*/
    --danube-700: #5279a3;
    --danube-800: #476486;
    --danube-900: #3d536b;
    --danube-950: #283443;
    --maincolor: #5F8CB4;
    --lighterblue: #94B2CD;
    --maingrey: #E6E5E5;
    --transparentmaingrey: rgb(from var(--maingrey) r g b / 0);
    --paleblue: #d1e3ec;
    --mintygreen: #05c46b;
    --sunsetorange: #ff5e57;
    --applevalley: #ea8685;
    --lynxwhite: #f5f6fa;
    --greenturquoise: #8DCEBF;
    --yellowgreen: #D0ECD5;
    --danube-purple: #4E3D6B;
}

.grid {
    display: grid;
    gap:50px;
    padding: 15px;
    width: 100%;
}

.col2 {
    grid-template-columns: auto auto;
    
}

.col4 {
    grid-template-columns: auto auto auto auto;
}

html, body, head {
    margin: 0;
    padding: 0;
    width: 100%
}

html {
    font-size: 14px;
    height: 100%;
    overflow-y: scroll;
}

form {
    padding:0!important;
    margin:0!important;
}

body {
    background-color: var(--maingrey);
    height: 90%;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

a {
    text-decoration: none !important;
    color: black;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Signika', sans-serif;
    margin: 0px;
    padding: 0px;
}

button {
    border: none !important;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 5px;
}

.btn-def {
    background-color: var(--danube-600);
    color: white;
    font-weight: 500;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    color: white;
    background-color: var(--danube-600);
    font-size: 15px;
    font-weight: bold;
}

input[type=submit] {
    border: none;
}

.main {
    width: 100%;
    margin: auto;
    margin-top: 0px;
    height:100%;
}

#wrap {
    position: absolute;
    width: 100%;
    height: fit-content;
    padding: 0;
    background-color: #E6E5E5 !important;
}

.main-container {
    margin-top: 50px;
    padding-left: 15%;
    padding-right: 1%;
    width: 90%;
    margin-left:5%;
    margin-bottom: 50px;
    height:100%;
}

.rounded-container {
    background-color: white;
    border-radius: 15px;
}

.box-3rd {
    width: 33%;
}

.box-half {
    width: 50%;
}

.box-full {
    width: 100%;
}

.fit {
    height: 100%;
    width: auto;
}

.round {
    border-radius: 50%;
}

.ticket-box {
    background-color: white;
    border-radius: 25px;
}


.btn-full {
    width: 100%;
    display:block;
    background-color:var(--danube-600);
    padding:10px;
    text-align:center;
    color:white;
    border-radius:5px;
    margin-top:5px;

}
#add-btn-index {
    background-color:var(--danube-400);
}

/*-----*/

/*Top navbar*/
.t-navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(var(--maingrey) 60%, var(--transparentmaingrey));
}

.t-navbar-container {
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

    .t-navbar-container img {
        height: 40px;
        margin-right: 10px;
    }

    .t-navbar-container a {
        font-size: 25px;
        font-family: 'Signika';
        text-decoration: none;
    }

        .t-navbar-container a:hover {
            color: initial;
        }

.navbar-right {
    float: right;
}

    .navbar-right a, .navbar-right li {
        font-size: 16px !important;
        text-decoration: none;
        list-style: none;
        margin-left: 20px;
        display: inline-block;
    }

.t-navbar-item {
    margin: 30px;
    margin-bottom: 15px;
    display: inline-block;
}

.menu {
    width: 80%;
    top: 0;
    position: absolute;
    background-color: #E6E5E5;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30px;
    z-index: 1;
    display: none;
    padding-bottom: 150px;
}
/*Top navbar end*/

/*-----*/

/*Left navbar*/

.l-navbar {
    height: 100%;
    background-color: var(--maincolor);
    width: 15%;
    min-width: 150px;
    color: white;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 40px;
}

.l-navbar-collapsed {
    height: 100%;
    background-color: var(--maincolor);
    width: 75px;
    color: white;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 40px;
}

    .l-navbar-collapsed a {
        display: none;
    }

    .l-navbar-collapsed .l-nav-item {
        font-display: none;
    }

    .l-navbar-collapsed #closebtn {
        display: block;
    }

.flex {
    display: flex;
}

.l-navbar a {
    color: white;
    text-decoration: none;
    margin-bottom: 7px;
    font-weight: 300;
    font-size: 20px;
    margin-right: 0;
}

.l-nav-container {
    width: 100%;
    padding: 0;
    display: inline;
}

.l-nav-item {
    list-style: none;
    width: 80%;
    margin: auto;
    margin-bottom: 12px;
    border-radius: 7px;
}

    .l-nav-item a {
        display: block;
        margin: 0;
        padding: 7px 20px;
    }

.l-nav-container .l-nav-item:hover {
    background: #ffffff20;
}


.nav-item-active {
    background-color: var(--lighterblue);
    font-weight: 400;
}

    .nav-item-active a {
        font-weight: 400;
    }

.l-nav-container .nav-item-active:hover {
    background-color: var(--lighterblue) !important;
}

.navbar-inner {
    width: 100%;
    height: 80%;
    display: inline-block;
}

.navbar-logo {
    margin: 30px 25px;
    text-decoration: none;
    margin-bottom: 40px;
}

    .navbar-logo a {
        color: white;
        font-size: 32px;
        font-weight: 500;
        margin: 0px;
        padding: 0px;
    }

    .navbar-logo img {
        margin-top: -5px;
        margin-right: 15px;
    }

.navbar-login {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.navbar-navs {
    list-style: none;
    padding: 0;
    text-align: center;
}

.l-nav-user {
    width: 80%;
    margin: auto;
    text-align: center;
    list-style: none;
    margin-bottom: 15px;
}

    .l-nav-user .No-Img {
        margin: auto;
        background-color: var(--lighterblue);
        margin-bottom: 10px;
    }

    .l-nav-user a {
        font-size: 17px;
        font-weight: 400;
        ;
    }

    .l-nav-user button {
        border: none;
        background-color: #ffffff00;
        color: #ffffff80;
        font-size: 17px;
        margin-bottom: 10px;
    }
/*Left navbar end*/

/*-----*/


.dt-container {
    width: 100%;
    height: auto;
    padding: 1%;
}

.dt-item {
    height: 125px;
    display: inline-flex;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.dt-item-col {
    width: fit-content;
    max-height: inherit;
    height: auto;
    display: inline-block, flex;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}


/*-----*/

/*Admin page tabs*/
.tab {
    overflow: hidden;
    display: flex;
    margin-bottom: 20px;
}

.tab-button {
    background-color: var(--lighterblue);
    padding: 12px 25px;
    height: 50px;
    margin-right: 10px;
    border-radius: 25px;
}

.tab .active {
    background-color: var(--maincolor);
}

.tab-button a {
    color: white;
    font-family: 'Signika'
}
/*Admin page tabs end*/

/*-----*/

.No-Img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-items: center;
    display: flex;
}

    .No-Img p {
        margin: auto;
        text-align: center;
        letter-spacing: 2px;
        font-family: 'Signika', sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: white;
    }

/*-----*/

/*Notes*/
.note-block {
    padding: 3px 20px;
    border-radius: 15px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    margin: auto;
}

    .note-block p {
        font-size: 12px;
    }

.note-green {
    background-color: var(--mintygreen);
}

.note-red {
    background-color: var(--applevalley);
}

.group-marker {
    height: 30px;
    margin-bottom: -10px;
    display: inline-block;
    width: 5px;
}
/*Notes end*/

/*-----*/

/*Sorting*/
.srt-container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    width: fit-content;
}

.srthead-container {
    height: 30px;
}

.srtarw-container {
    width: 15px;
    height: 30px;
    margin-left: 10px;
}

.srtarw {
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
}

.actup {
    background-image: url('/images/arw-actup.svg');
}

.inactup {
    background-image: url('/images/arw-inactup.svg');
}

.actdwn {
    background-image: url('/images/arw-actdown.svg');
}

.inactdwn {
    background-image: url('/images/arw-inactdown.svg');
}
/*Sorting end*/

/*-----*/

table {
    width: 100%;
}

td {
    padding-bottom: 10px;
}

#group-tr:hover .group-marker {
    transform: scale(1.05);
    transition-duration:.2s;
}


.dropdwn {
    position: relative;
    display: inline-block;
    margin: 0;
    padding-right: 100px;
}

.dropdwn-content {
    display: none;
    position: absolute;
    background-color: var(--lynxwhite);
    width: 150px;
    z-index: 1;
}

    .dropdwn-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.circle-sm {
    width: 6px;
    height: 6px;
    background-color: darkgray;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.dropdwn:hover .dropdwn-content {
    display: block;
}

.dropdwn:hover .dropdwn-btn {
    background-color: var(--lynxwhite);
}

.dropdwn-content a:hover {
    background-color: var(--paleblue);
}

.dropdwn-btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.delete:hover {
    background-color: var(--applevalley) !important;
}

.col3 {
    column-count: 3;
    column-gap: 180px;
    text-align:justify;
    word-wrap:break-word;
}



.index-content {
    display: inline-block;
    background-color: var(--lynxwhite);
    border-radius: 5px;
    box-shadow: -1px -1px 18px 0px rgba(0,0,0,0.31);
    margin-top: 20px;
    overflow: hidden;
    padding: 25px;
}

.index-infobox {
    height:140px;
    width: 300px;
    margin:0!important;
}

.index-infobox-inner {
    height: 80%;
    max-width: 65%;
    display:inline-block;
}

    .index-infobox-inner img {
        height: 100%;
        width: auto;
        padding: 7px;
        border-radius:3px;
        box-shadow: inset 0px 0px 21px 0px rgba(0,0,4,0.2);
    }
    .index-infobox-inner h4 {
        font-family: 'Signika';
        margin:0;
        padding:0;
        font-size: 20px;

    }
    .index-infobox-inner p {
        margin: 0;
        padding: 0;
        padding-top:5px;
        line-height: 1;
    }
.divider-line-gradient {
    width: 400px;
    height: 3px;
    opacity: 0.5;

    position: relative;
    margin-left:-47px;
    bottom:-20px;
}
#dl1 {
    background: linear-gradient(22deg, var(--greenturquoise), var(--danube-600));
}
#dl2 {
    background: linear-gradient(60deg, var(--yellowgreen), var(--greenturquoise));
}

#dl3 {
    background: linear-gradient(45deg, var(--danube-700), var(--danube-purple));
}

#dl4 {
    background: linear-gradient(45deg, var(--danube-700), var(--danube-600));
}

.index-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: space-between;
}

.index-container {
    padding: 2%;
    border-radius: 5px;
    height:auto;

}

/*Statistics*/

.stat-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.stat-box {
    width: 200px;
    height: 200px;
    display: inline-block;
    background-color: var(--lynxwhite);
    margin-inline-end: 5px;
    text-align: center;
    padding: 50px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: -1px -1px 18px 0px rgba(0,0,0,0.31);
}

.stat-box-inner {
    height: 100px;
    width: 100px;
}

    .stat-box-inner h1 {
        padding-top: 10px;
        font-size: 40px;
    }

    .stat-box-inner p {
        font-size: 16px;
        font-family: 'Signika';
        letter-spacing: .5px;
        font-weight: 200;
    }

/*Statistics end*/

/*-----*/

/*Login page*/

.login-container {
    width: fit-content;
    max-width: 590px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    text-align: center
}

    .login-container h3 {
        margin-bottom: 30px;
    }

    .login-container h1 {
        font-size: 60px;
        color: var(--danube-900);
        font-weight: 600;
        display: inline-block;
        margin-bottom: 10px;
    }

    .login-container span {
        color: var(--danube-600);
    }

.login-container-main {
    max-width: 500px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    z-index: 0 !important;
}

    .login-container-main .logo-container {
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

        .login-container-main .logo-container img {
            width: 100%;
            height: 100%;
        }

.login-button {
    width: 250px;
    height: 250px;
    display: inline-block;
    text-align: center;
    background-color: var(--lynxwhite);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    box-shadow: -1px -1px 10px 0px rgba(61, 83, 107, 0.3);
    border-radius: 5px;
    overflow: hidden;
}

    .login-button img {
        height: 80%;
        width: 80%;
        margin: auto;
        margin-bottom: 0;
        margin-top: 10px;
    }

    .login-button p {
        display: block;
        padding: 0;
        margin-top: -20px;
        font-size: 18px;
        font-family: 'Signika';
        letter-spacing: .5px;
        font-weight: 600;
    }

.login-link:hover {
    color: initial;
}

    .login-link:hover .login-button {
        transform: scale(1.01);
        transition: linear .1s;
    }

        .login-link:hover .login-button img {
            transform: scale(1.03);
            transition: linear .1s;
        }

/*Login page end*/

/*-----*/

/*Footer*/

#footer-b {
    position: static;
    bottom: 0px;
    height: 600px;
    width: 100%;
    background-image: url('../images/Footer.svg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center top;
    z-index: 0 !important;
    padding-top: 350px;
}

.footer-container {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 16px;
    text-align: center;
}
/*Footer end*/

/*-----*/

/*Achievements */
.achievement-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--lighterblue);
    border-radius: 5px;
    box-shadow: -1px -1px 10px 0px rgba(61, 83, 107, 0.3);
    padding: 20px;
    margin-bottom:20px;
    margin-left:50px;
    float:right;
}

.achievement {
    width: 125px;
    height: 125px;
    text-align: center;
    border-radius:50%;
    box-shadow: -1px -1px 10px 0px rgba(61, 83, 107, 0.3);
}

    .achievement:hover {
        transform: scale(1.05);
        transition: 1s;
        z-index: 5;
    }

    .achievement img {
        width: 100%;
        height: 100%;
    }

.achievement-tooltip {
    width: 110%;
    height: fit-content;
    left: -5%;
    top:105%;
    display: none;
    position: absolute;
    background-color: var(--lynxwhite);
    box-shadow: -1px -1px 10px 0px rgba(61, 83, 107, 0.3);
    border-radius: 5px;
    text-align:center;
    padding:10px;
}

    .achievement:hover .achievement-tooltip {
        display:block;
    }
/*Achievements end*/

/*-----*/

/*App Profile */
.app-profile-container {
    text-align:center;
}

.app-profile-container {

}

.app-profile-img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
}
.app-profile-img h1 {
    color: white;
    font-size: 40px;
    letter-spacing: 3px;
    padding-top:25px;
}

.edit-img-btn {
    height: 40px;
    width: 40px;
    background-color: var(--lynxwhite);
    position: relative;
    right: -5px;
    top: -15px;
    margin-left: auto;
    border-radius: 50%;
    z-index:0;
}


.edit-img:hover .edit-img-list{
    display:block;
    animation-name:drop;
    animation-duration:1s;
    animation-timing-function: ease-in-out;
}
.edit-img:hover .img-edit-a, .img-edit-a button {
    animation-name: itemdrop !important;
    animation-duration: 1s;
}

.edit-img-list {
    display: none;
    height: auto;
    width: 150px;
    background-color: var(--lynxwhite);
    position: relative;
    left: -55px;
    padding: 5px;
    border-radius: 10px;
    bottom: 20px;
    z-index: -1;
}

@keyframes drop {
    0% {
        width: 40px;
        height: 40px;
        left: 0px;
        bottom:30px;
        padding: 0px;
        border-radius: 50%;
        overflow: hidden;
        color: transparent;
    }

    25% {
        width: 40px;
        left: 0px;
        bottom: 30px;
        padding: 0px;
        border-radius: 20px;
        overflow: hidden;
        color: transparent;
    }

    50% {
        height: 100px;
        width: 40px;
        padding: 5px;
        bottom: 20px;
        left: 0px;
        overflow: hidden;
        color: transparent;
    }
    75% {
        height: auto;
        width: 150px;
        left: -55px;
        border-radius: 10px;
        bottom: 20px;
    }

}

 @keyframes itemdrop {
    0% {
        background-color: transparent;
        color: transparent;
        padding: 0;
        margin: 0;
        height: fit-content;
    }
    25% {
        background-color: transparent;
        color: transparent;
        padding: 0;
        margin: 0;
        height: fit-content;
    }
    50% {
        background-color: transparent;
        color: transparent;
        padding: 0;
        margin: 0;
        height:fit-content;
    }
    75% {
        background-color: transparent;
        color: transparent;
        padding: 0;
        margin: 0;
    }
     
 }
.img-edit-a  {
    background-color: none;
    color: grey;
    display: block;
    margin: 10px!important;
    padding: 5px!important;
    text-decoration: none;
    z-index: -1;
    font-size: 14px;
    overflow:hidden!important;
    word-wrap:unset!important;
    max-height: 35px;
}
.img-edit-a button:disabled {
    background-color: transparent;

}

    .img-edit-a:hover {
        color:black;
        display: block;
        background-color: rgb(from var(--danube-700) r g b / 0.2);
        border-radius: 3px;
    }

    .img-edit-a button {
        padding: 0 !important;
        margin: 0 !important;
        background-color: transparent !important;
        font-size: 14px!important;
        font-weight:bold;
    }

.image-input {
    width: 50%;
    height: 40px;
    background-color: white;
    border-radius: 5px 0px 0px 5px;
    margin: 0px !important;
    padding: 0 !important;
    display: inline-block;
    padding-inline: 0 !important;
    padding-block: 0 !important;
}
    .image-input::file-selector-button {
        border:none!important;
        height:100%;
        padding-right:0;
    }

.image-submit {
    height: 40px;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    margin: 0px !important;
    padding: 0 !important;
    display: inline-block;
    padding-inline: 0 !important;
    padding-block:0!important;
}

.app-profile-container input, input:disabled {
    width: 100%;
    width: 100%;
    padding:10px;
    margin-top:10px;
    border:none;
    background-color: var(--lynxwhite);
    border-radius: 5px;
}
/*App Profile end */

/*-----*/

/*Sales Admin*/

.ticket-display {
    width:100%;
    height:auto;
    background-color:white;
    font-size:15px;
    font-family: 'Signika';
    padding: 20px;
    overflow:hidden;
}

#sales-ticket-container {
    height: 500px;
    width:100%!important;
    overflow-y:scroll;
    scrollbar-base-color: transparent;
    scrollbar-color: red;
    gap:0px!important;

}

#sales-ticket-container::-webkit-scrollbar {
    background-color:transparent;
    width:10px;
    padding:10px;
}

    #sales-ticket-container::-webkit-scrollbar-track {
        
    }

    #sales-ticket-container::-webkit-scrollbar-thumb {
        background-color: var(--lighterblue);
        border-radius: 5px;
    }