@page
@using Badge.Areas.Identity.Data;
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home page";
}

@if (User.IsInRole("Admin"))
{
    <div class="text-center">
        <h1 class="display-4">Yer an admin, Harry!</h1>
        <h2>Velkommen, @UserManager.GetUserAsync(User).Result.FName</h2>
    </div>
    
}