@page
@using Badge.Areas.Identity.Data;
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home page";
    Layout = "_IndexLayout";
}

<div class="login-container">
    <a asp-area="Identity" asp-page="/Account/Login">
        <div class="login-button"> <h1 style="text-align:center;margin-top:75px;">Leder login</h1> </div>
    </a>
    <a asp-area="Identity" asp-page="/Account/Login">
        <div class="login-button"> <h1 style="text-align:center;margin-top:75px;">Medlems login</h1> </div>
    </a>
</div>
        
