@page
@using Badge.Areas.Identity.Data;
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home page";
    Layout = "_IndexLayout";
}



<div class="login-container">
    <h1>Velkommen til <span>Badge!</span></h1>
    <h3>Hvordan vil du gerne logge ind?</h3>
    <a class="login-link" asp-area="Identity" asp-page="/Account/Login" asp-route-usertype="Leader">
        <div class="login-button"><img src="~/images/Leader.svg"></img><p>Som leder</p></div>
    </a>
    <a class="login-link" asp-area="Identity" asp-page="/Account/Login" asp-route-usertype="Member">
        <div class="login-button"><img src="~/images/Member.svg"><p>Som medlem</p></div>
    </a>
</div>
        
