@page
@model Badge.Pages.Administration.TicketAdmin.DeleteModel

@{
    ViewData["Title"] = "Slet";
}

<h1>Slet</h1>

<h3>Er du sikker på, at du vil slette denne lodseddel?</h3>
<div>
    <h4>Lodseddel</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Ticket.Id" />
        <input type="submit" value="Slet" class="btn btn-danger" /> |
        <a asp-page="./Index">Tilbage til liste</a>
    </form>
</div>
