@page
@model Badge.Pages.Administration.TicketAdmin.DetailsModel

@{
    ViewData["Title"] = "Detajler";
}

<h1>Detajler</h1>

<div>
    <h4>Lodseddel</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ticket?.Id">Edit</a> |
    <a asp-page="./Index">Tilbage til liste</a>
</div>
