@page
@model Badge.Pages.Administration.SalesAdmin.EditModel

@{
    ViewData["Title"] = "Rediger";
}

<h1>Rediger</h1>

<h4>Salg</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sale.Id" />
            <div class="form-group">
                <label asp-for="Sale.TicketId" class="control-label"></label>
                <select asp-for="Sale.TicketId" class="form-control" asp-items="ViewBag.TicketId"></select>
                <span asp-validation-for="Sale.TicketId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale.SellerId" class="control-label"></label>
                <select asp-for="Sale.SellerId" class="form-control" asp-items="ViewBag.SellerId"></select>
                <span asp-validation-for="Sale.SellerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale.ChannelId" class="control-label"></label>
                <select asp-for="Sale.ChannelId" class="form-control" asp-items="ViewBag.ChannelId"></select>
                <span asp-validation-for="Sale.ChannelId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sale.PaymentCollected" /> @Html.DisplayNameFor(model => model.Sale.PaymentCollected)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Sale.SalesDate" class="control-label"></label>
                <input asp-for="Sale.SalesDate" class="form-control" />
                <span asp-validation-for="Sale.SalesDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gem" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Tilbage til liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
